/* .header {
    text-align: center;
    font-size: 35px;
    width: auto;
    height: 4rem;
    background-color: rgb(8, 8, 67);
    color: white;
    align-items: center;
    text-align: center;
}
.words {
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
} */
 /* Container needed to position the button. Adjust the width as needed */
 .container {
  position: relative;
  width: 50%;
}

/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}

/* Style the button and place it in the middle of the container/image */
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.container .btn:hover {
  background-color: black;
} 

.home {
  text-align: center;
}
.home_items {
  display: flex;
}
.home_items img{
  width: 100%;
  height: 80%;
  margin-top: 70px;
  justify-content: space-evenly;
}
.addword {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* box-sizing: border-box; */
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}
input {
  width: 300px;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  margin: 5px;

}

 button {
  width: 320px;
  height: 50px;
  margin-top: 15px;
} 

 button:hover {
  cursor: pointer;
}
.information label{
  font-size: 20px;
}