.header {
    text-align: center;
    font-size: 35px;
    width: auto;
    height: 4rem;
    background-color: rgb(8, 8, 67);
    color: white;
    align-items: center;
    text-align: center;
}
.words {
    width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
}
table {
    border-spacing: 0;
    border: 1px solid black;
    width: 800px;
    height: 200px;
    
  }

  tr td :last-child {
       
        border-bottom: 0;
      
    }
    
  th {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
  }
    
  td {
    text-align: center;
    border-bottom: 1px solid rgb(14, 14, 18);
    border-right: 1px solid black;
  }